* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: rgba(255, 127, 80, 0.123);
}


.container {
  width: 300px;
  height: auto;
  margin: 80px;  
  border-radius: 30px;
  background: white;
  transition: .5s;
}

.container:hover {
  transform: scale(1.1);
  box-shadow: 21px 21px 5px rgba(0, 0, 0, .1);
}

.top-container {
  background: rgb(137, 237, 255);
  padding: 30px;
  border-radius: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 20px 0;
}

.profile__name {
  font-weight: 600;
}

.container__profile--details {
  display: flex;
  align-items: center;
  width: 20%;
}

.profile__photo {
  width: 50px;
}

.profile__name {
  margin-left: 10px;
}

.profile__name--vip {
  font-size: .7em;
  background: cadetblue;
  border-radius: 5px ;
  color: white;
  padding: 1px 3px;
}

.profile__detail {
  display: flex;
  width: 70%;
  margin: 0 auto 20px;
  justify-content: space-between;
  font-size: .8em;
}

.profile__detail--item {
  text-align: center;
}

.search {
  position: relative;
  display: flex;
  top: -20px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 3px 10px;
  background: white;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .3); 
}

.search input {
  width: 180px;
  height: 30px;
  border: none;
  padding: 5px;
  outline: none;
}

.main__food {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

.main__food--item {
  text-align: center;
}

.main__food--item div {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile__detail--description {
  font-weight: 600;
}

.main__food--item div:hover {
  background: rgb(137, 237, 255);
  transition: .3s;
}

.menu__product {
  background:  rgb(137, 237, 255);
  width: 70%;
  height: auto;
  margin: 10px 50px;
  padding: 15px;
  border-radius:35px 35px 10px 35px  ;
}

.menu__product--title{
  text-transform: uppercase;
  width: 120px;
}

.menu__product--img {
  width: 70%;
  margin: 15px 0;
  position: relative;
  left: -30px;
}
.menu__product--list {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.menu__product--price {
  font-weight: 600;
  font-size: 1.5em;
}

.menu__product--plus {
  background: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 2em;
  position: relative;
  left: 25px;
  top: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 20px;
  background: rgb(137, 237, 255);
}

.footer img:hover {
  background: coral;
  padding: 5px;
  border-radius: 50%;
  transition: .3s ;
}

img {
  width: 25px;
}